<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Simple MVC Flask App</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="w-25 mx-auto">
      <div class="w-75 mx-auto">
        <h3 class="mx-auto">Servicio web de usuarios</h3>
      </div>
      <br/>
      <br/>
      <div class="border border-dark w-25 mx-auto">
        <div class="m-4">
        <button class="btn btn-dark btn-lg" onclick="window.location.href='/users/list'">List</button>
        <br/>
        <br/>
        <button class="btn btn-dark btn-lg" onclick="window.location.href='/api/v1/users/'">Api</button>
        </div>
      </div>
    
  </body>
</html>